In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [2]:
raw_csv = pd.read_csv('datasets_38367_58429_Toddler Autism dataset July 2018.csv')
raw_csv.columns.tolist()
raw_csv.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,ASD_Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,f,middle eastern,yes,no,No
1,2,1,1,0,0,0,1,1,0,0,0,36,m,White European,yes,no,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,m,middle eastern,yes,no,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,m,Hispanic,no,no,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,f,White European,no,yes,Yes

In [3]:
sex_dum = pd.get_dummies(raw_csv.Sex, prefix='Sex')
jaundice_dum = pd.get_dummies(raw_csv.Jaundice, prefix='Jaundice')
fam_with_ASD_dum = pd.get_dummies(raw_csv.Family_mem_with_ASD, prefix='Family_mem_with_ASD')
ASD_traits_dum = pd.get_dummies(raw_csv.ASD_Traits, prefix='ASD_Traits')



raw_csv.drop(['Sex','Jaundice','Family_mem_with_ASD','Ethnicity','ASD_Traits'],axis=1, inplace=True)

encoded_data = pd.concat([raw_csv, sex_dum, jaundice_dum,fam_with_ASD_dum,ASD_traits_dum], axis=1)
encoded_data.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex_f,Sex_m,Jaundice_no,Jaundice_yes,Family_mem_with_ASD_no,Family_mem_with_ASD_yes,ASD_Traits_No,ASD_Traits_Yes
0,1,0,0,0,0,0,0,1,1,0,1,28,1,0,0,1,1,0,1,0
1,2,1,1,0,0,0,1,1,0,0,0,36,0,1,0,1,1,0,0,1
2,3,1,0,0,0,0,0,1,1,0,1,36,0,1,0,1,1,0,0,1
3,4,1,1,1,1,1,1,1,1,1,1,24,0,1,1,0,1,0,0,1
4,5,1,1,0,1,1,1,1,1,1,1,20,1,0,1,0,0,1,0,1

In [4]:
encoded_data.describe()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex_f,Sex_m,Jaundice_no,Jaundice_yes,Family_mem_with_ASD_no,Family_mem_with_ASD_yes,ASD_Traits_No,ASD_Traits_Yes
count,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000
mean,527.500000,0.563567,0.448767,0.401328,0.512334,0.524668,0.576850,0.649905,0.459203,0.489564,0.586338,27.867173,0.302657,0.697343,0.726755,0.273245,0.838710,0.161290,0.309298,0.690702
std,304.407895,0.496178,0.497604,0.490400,0.500085,0.499628,0.494293,0.477226,0.498569,0.500128,0.492723,7.980354,0.459626,0.459626,0.445837,0.445837,0.367973,0.367973,0.462424,0.462424
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,264.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,527.500000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,30.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,790.750000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,1054.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,36.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
encoded_data.drop(['Sex_m','Jaundice_no','Family_mem_with_ASD_no','ASD_Traits_No'],axis=1, inplace=True)
encoded_data.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex_f,Jaundice_yes,Family_mem_with_ASD_yes,ASD_Traits_Yes
0,1,0,0,0,0,0,0,1,1,0,1,28,1,1,0,0
1,2,1,1,0,0,0,1,1,0,0,0,36,0,1,0,1
2,3,1,0,0,0,0,0,1,1,0,1,36,0,1,0,1
3,4,1,1,1,1,1,1,1,1,1,1,24,0,0,0,1
4,5,1,1,0,1,1,1,1,1,1,1,20,1,0,1,1

In [6]:
encoded_data.to_csv('encoded_dataset.csv',index=False,header=False)